.devs-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.dev-details ul{
    list-style: none;
}

.name-text{
    font-weight: 600;
    font-size: 18px;
    color: #406ad3;
}

.title{
    color: #676767;
    font-size: 13px;
}

.hourly{
    margin-top: -20px;
}

.hr-text{
    color: #5c5c5c;
    font-size: 13px;
}