.single-engineer{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.single-engineer img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}